<%= link_to '新規作成はこちらから' , new_admin_event_questionnaires_question_path %>
<h3>アンケート質問一覧</h3>
<table>
  <thead>
    <tr>
      <th>イベントアンケート名</th>
      <th>イベントアンケート説明文</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event_questionnaires_questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to '詳細画面へ' ,admin_event_questionnaires_question_path(question) %></td>
    </tr>
    <% end %>
  </tbody>
  </table>