<h3>アンケート質問内容の表示</h3>
  <p>
    <text>イベントアンケート名:</text>
    <%= @event_questionnaires_question.title %>
  </p>
  <p>
    <text>イベントアンケート説明文:</text>
    <%= @event_questionnaires_question.content %>
  </p>
