<% @posts.each do |post| %>
  <p>タイトル：<%= post.title %></p>
  <%= image_tag post.get_image(100,100) %><br>
  <% post.events.each do |event| %>
  <%= safe_join(event.introduction.split("\n"),tag(:br)) %>
  <%= link_to event.url_strings %>
  <% end %>
<% end %>