<h3>イベント情報一覧</h3>
<div>
  <%= link_to new_admin_event_path do %>
    <button type="button">+</button>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>イベント名</th>
      <th>ジャンル</th>
      <th>投稿状況</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.name, admin_event_path(event) %></td>
        <td><%= event.genre.name %></td>
        <td><% if event.post_status %>
              投稿中
            <% else %>
              投稿完了
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%#= paginate @events %>
