<table>
  <thead>
    <tr>
      <th>イベントレポート</th>
    </tr>
  </thead>
  <tbody>
    <% @eventrepos.each do | eventrepo | %>
      <td><%= link_to eventrepo.event_repos_title, event_repo_path(eventrepo.id) %></td>
    <% end %>
  </tbody>
</table>