<h3>■アンケート回答情報一覧</h3>
<div>
  <%= link_to 'アンケート回答情報の新規作成', new_admin_event_questionnaires_answer_path %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @events_questionnaires_answers.present? %>
        <%= @events_questionnaires_answers.each do |answers| %>
          <%= f.hidden_field :event_questionnaires_question_id, :value => @event_questionnaires_question.id %>
          <tr>
            <td><%= answers %></td>
            <td><%#= link_to 'アンケート回答情報詳細画面へ', admin_event_questionnaires_answer_path(events_questionnaires_answer) %></td>
          </tr>
        <% end %>
      <% else %>
        <p>まだ回答がありません</p>
      <% end %>
    </tbody>
  </table>
</div>
<%# paginate @events_questionnaires_answers %>