/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#container {*/
/*  height: 450px;*/
/*  width: 550px;*/
/*}*/

/*body {*/
/*  margin: 0px;*/

/*}*/

/*.navbar-nav li a {*/
/*  font-weight: bold;*/
/*  padding-top: 15px;*/
/*  text-decoration: none;*/
/*}*/

/*.height {*/
/*  min-height: 74vh;*/
/*}*/

.hwrapper {
  width: 100%;
}

.header {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}
/*p {*/
/*  line-height: 240%;*/
/*}*/

/*.box {*/
/*  float:left;*/
/*  margin-right: 20px;*/
/*}*/

.field {
  margin: 10px;
  padding: 10px;
}

/*.row {*/
/*  text-align: center;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

li {
   list-style: none;
}